* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.cart-button {
    border: none;
    background-color: #3c3a4f;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.cart-button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .4s;
    transition: .4s;
}

.goods-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.goods-item {
    width: 280px;
    background-color: #cde3ec;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px #a9a9a9;
    box-shadow: 5px 5px 5px #a9a9a9;
    cursor: pointer;
    padding: 15px;
}

.goods-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.goods-item p {
    font-size: 16px;
}