body {
    background-color: #a8b1b1;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: #fafafa;
    padding: 10px;
    margin-bottom: 20px;
}

.goods-item {
    padding: 10px;
    border-color: #2c2649 !important;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
}
.search-field:focus{
    outline: none;
}